openapi: 3.2.0
info:
  version: V1
  title: Partner services API V1. Print Code API
  description: <a target="_blank" href="/Utils/PartnerServices/ParcelServicesExamples.zip">This zip</a> includes example/sample code to connect to DB Schenker Partner API.
  x-swagger-net-version: 8.5.28.001
servers:
- url: https://parcelservices-se.dbschenker.com/Apipartner
tags:
- name: PrintCode
  description: Responsible for (QR) print codes.
paths:
  /print-code/v1:
    get:
      tags:
      - PrintCode
      summary: Gets the QR print code for a shipment based on shipment number.
      operationId: PrintCode_GetQRCode
      parameters:
      - name: shipmentNumber
        in: query
        description: Shipment number.
        required: false
        schema:
          type: string
      - name: colliId
        in: query
        description: Barcode/colli ID.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Base64 encoded string of QR code
          content:
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '404':
          description: NotFound
        '410':
          description: Code expired
        '401':
          description: Unauthorized
      deprecated: false
      security:
      - basic: []
  /print-code/v1/image:
    get:
      tags:
      - PrintCode
      summary: 'Gets the QR image for a shipment based on shipment number or colli-id.


        Easy to use as ex. img-src or background-image on element.

        Ex. set img src to "data:image/svg+xml;base64," + [Svg response from endpoint]

        If png, a bytestream is returned.'
      operationId: PrintCode_GetQRCodeImage
      parameters:
      - name: shipmentNumber
        in: query
        description: Shipment number.
        required: false
        schema:
          type: string
      - name: colliId
        in: query
        description: Barcode/colli ID.
        required: false
        schema:
          type: string
      - name: imageformat
        in: query
        description: If not set, defaults to svg. Send "png" if response should be a png.
        required: false
        schema:
          type: string
          default: ''
      - name: useBackground
        in: query
        description: If set, it will remove the white background that can cause issues when using dark mode
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Base64 encoded string of qr code
          content:
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '404':
          description: NotFound
        '410':
          description: Code expired
        '401':
          description: Unauthorized
      deprecated: false
      security:
      - basic: []
components:
  securitySchemes:
    basic:
      type: http
      scheme: basic
      description: Basic HTTP Authentication
